/*------------------------------------*\
    Cards
\*------------------------------------*/

.card {
    margin: 0 auto 3.6rem;
    padding: 2rem;
    background: $c-lightest;
    border-radius: 1.2rem;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba($c-black, 0.16);
}

.card--narrow {
    max-width: 67rem;
}

.card--narrowest {
    max-width: 40.6rem;
}

.card--extra-padding {
    padding: 2rem 3rem 5rem;
}

.card--break-out {
    margin-left: -5rem;
    margin-right: -5rem;
}

    .card--center {
        display: flex;
        flex-direction: column;
        min-height: 38.8rem;
    }
    
    .card__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: auto;
        padding: 0rem 2rem;
        text-align: center;
    }

    .card__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }

    .card__heading--margin {
        margin-bottom: 6rem;
    }

    .card__heading--no-margin {
        margin-bottom: 0;
    }

    .card__heading--grid {
        .card__title {
            flex-basis: 66.66%;
        }

        .card__title--shrink {
            flex-basis: 33.33%;
            flex-shrink: 0;
        }
    }

    .card__title {
        margin-right: 2rem;
        font-size: 2.2rem;
    }

    .card__content {
        margin-bottom: 2rem;
    }

    .card__content--max-width {
        max-width: 25rem;
    }
