/*------------------------------------*\
    Selection
\*------------------------------------*/

::-moz-selection {
    color: $c-lightest;
    background: $c-purple;
}

::selection {
    color: $c-lightest;
    background: $c-purple;
}
